
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <form #signUp="ngForm" (ngSubmit)="onSignUp(signUp)">
              <div ngModelGroup="userInfo" #userInfo="ngModelGroup">
               <div class="form-group">
                <label for="username">Username*</label>
                <input required type="text" 
                pattern="^[a-zA-Z ]*$"
                name="username"
                ngModel
                #username="ngModel"
                class="form-control">
               <ng-container *ngIf="username.invalid">
                <span class="text-danger" *ngIf="username.touched && username.hasError('required')">
                  Username is a required field.
                </span>
                <span class="text-danger" *ngIf="username.dirty && username.hasError('pattern')">
                  Username should not includes numbers and special char.
                </span>
               </ng-container> 
               </div>
               <div class="form-group">
                <label for="email">Email*</label>
                <input required type="text" 
                id="email"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9-.]+\.[a-zA-Z]{2,}"
                name="email"
                ngModel
                #email="ngModel"
                class="form-control">
               </div>
               <ng-container *ngIf="email.invalid">
                <span class="text-danger" *ngIf="email.touched && email.hasError('required')">
                   Email is required field.
                </span>
                <span class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                  Invalid Email pattern. 
               </span>
               </ng-container>
               </div>
               <p class="alert alert-danger" *ngIf="username.invalid && username.touched">
                 UserInfo Error
              </p>
              <div class="form-group">
                <label for="secretQuetion">Secret Quetion*</label>
                <select required name="secretQuetion" ngModel #secretQuetion="ngModel" 
                id="secretQuetion" class="form-control">
                  <option value="favourateBook">Favouratec Book</option>
                  <option value="favourateSinger">Favourate Singer</option>
                </select>
                </div>
              <div class="form-group">
                <label for="answer">Answer*</label>
                <input required type="text" name="answer" 
                ngModel #answer="ngModel" class="form-control">
              </div>
              <div class="form-group">
                <label for="isSubscribed">
                  <input type="checkbox" name="isSubscribed" id="isSubscribed"
                  ngModel #isSubscribed="ngModel">
                   Subscribe for Daily Emails.
                </label>
              </div>
              <div class="form-group" *ngFor="let moc of mocArr">
                <label [for]="moc.contactMode">
                  <input required type="radio" name="modeofcontact" ngModel 
                  [value]="moc.contactMode" [id]="moc.contactMode">
                   {{moc.contactMode}}
                </label>
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-primary mr-2">Sign Up</button>
                <button type="button" class="btn btn-primary " (click)="onEdit()">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>















<!-- username = '^[a-zA-Z ]*$'; -->
<!-- email = '^[a-zA-Z0-9.-]+@[a-zA-Z0-9-.]+\\.[a-zA-Z]{2,100}$'; -->




































<!-- 
<h1 class="text-white text-uppercase mb-2 p-2 fairHeading">fairs</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-fair-dashboard></app-fair-dashboard>
    </div>
  </div>
</div> -->